/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.image-generator{
    height: 40vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background: url("images/bg.jpg");
}

.image-generator::before{
    content: "";
    position: absolute;
    left: 0;
    opacity: 0.5;
    top: 0;
    width: 100%;
    height: 100%;
    background: #121212;
}

.image-generator .content{
    color: #fff;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
    position: relative;

}

.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}


.image-generator p{
    font-size: 1.35;
    margin-top: 10px;
}

.image-generator .generate-form{
height: 56px;
width: 100%;
display: flex;
padding: 6px;
margin: 45px 0 15px;
align-items: center;
justify-content: space-between;
background: #fff;
border-radius: 30px;

}

.generate-form .prompt-input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17px;
}

.generate-form .control{
    display: flex;
    height: 100%;
    gap: 15px;
}

.generate-form .img-quantity{
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
}

.generate-form  .generate-btn{
    font-size: 1rem;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 0 25px;
    cursor: pointer;

    font-size: 1rem;
    border-radius: 30px;
    background: #4949E7;
}
.image-gallery{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 15px;
    max-width: 1250px;
    margin: 50px auto;
    justify-content: center;
}

.image-gallery .img-card{
width: 285px;
display: flex;
align-items: center;
justify-content: center;
aspect-ratio: 1/1;
border-radius: 5px;
overflow: hidden;
position: relative;
background: #f2f2f2;
}
.image-gallery .img-card img{
width: 100%;
height: 100%;
object-fit: cover;
}
.image-gallery .img-card.loading img{
    width: 80px;
    height: 80px;
}


.image-gallery .img-card .download-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
.image-gallery .img-card:not(.loading):hover .download-btn{
    display: flex;
}

.image-gallery .img-card .download-btn img{
    width: 14px;
    height: 14px;
}


@media screen and (max-width: 760px) {
    .image-generator {
      height: 45vh;
      padding-top: 30px;
      align-items: flex-start;
    }
    .image-generator h1 {
      font-size: 1.8rem;
    }
    .image-generator p {
      font-size: 1rem;
    }
    .image-generator .generate-form {
      margin-top: 30px;
      height: 52px;
      display: block;
    }
    .generate-form .controls {
      height: 40px;
      margin-top: 15px;
      justify-content: end;
      align-items: center;
    }
    .generate-form .generate-btn[disabled] {
      opacity: 1;
    }
    .generate-form .img-quantity {
      color: #fff;
    }
    .generate-form .img-quantity option {
      color: #000;
    }
    .image-gallery {
      margin-top: 20px;
    }
    .image-gallery .img-card:not(.loading) .download-btn {
      opacity: 1;
      pointer-events: auto;
    }
  }
  @media screen and (max-width: 500px) {
    .image-gallery .img-card {
      width: 100%;
    }
  }